<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <style>
        .container {
            margin-top: 100px;
        {# 下移动 #}
        }
    </style>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">  {# 占用比率，右移动 #}
            <form action="/addbook/" method="post">
            {% csrf_token %}
                <p>书籍名称 <input type="text" name="title"></p>
                <p>书籍价格 <input type="text" name="price"></p>
                <p>出版时间 <input type="date" name="date"></p>
                <p>出版社<select name="publish_id" id="">
                    {% for publish in publish_list %}
                        {#                                        publish.pk的值就是主键的值#}
                        <option value="{{ publish.pk }}">{{ publish.name }}</option>
                    {% endfor %}
                </select></p>

                <p>作者
                    <select name="author_id_list" id="" multiple>  {# multiple的意思是可以多选 #}
                        {% for author in author_list %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <input type="submit" class="btn btn-default">
            </form>
        </div>
    </div>

</div>
</body>
</html>