<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>

</head>
<body>
<p>ajax请求</p>
<h4>hi {{ user }}</h4>
<hr>
<button class="s1">send_ajax</button>
<p class="con"></p>
<hr>
{% csrf_token %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<p>用户名：<input type="text" id="user"><span class="error"></span></p>
<p>用户名2：<input type="text" id="user2"><span class="error2"></span></p>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
{#    绑定事件，给button按钮绑定#}
    $(".s1").click(function () {
        {#$.ajax是一个字典，这个就是一个ajax请求，里面需要填写必备的参数#}
        $.ajax({
            url:"{% url 'ajax' %}",
            type:"get",
            data:{},
            {#success，回调函数,把返回的数据给data #}
            success:function(data) {
                console.log(data);
                {#把回调的函数的值，赋值给con，展现到前端#}
                $(".con").html(data)
            }
        })
    });

    {#blur 意思是失去鼠标焦点事件#}
    $("#user").blur(function () {
        $.ajax({
            url:"{% url 'user_valid' %}",
            type:"get",
            data:{
                "name":$("#user").val(),   {# $("#user").val()  取前端输入的input的值 #}
            },
            success:function (data) {
                console.log(data);
                console.log(typeof data);
                var data=JSON.parse(data);
                if (!data.state) {
                    $(".error").html(data.msg).css("color", "red");
                    {# 把值传给前端 #}
{#                    跳转到一个新的地址#}
                    {#location.href='https://www.baidu.com'#}
                }else {
                    $(".error").html(data.msg).css("color", "red");
                }
            }
        })
});

{#blur 意思是失去鼠标焦点事件#}
{# csrf forbidden掉，解决办法#}
    $("#user2").blur(function () {
        $.ajax({
            url:"{% url 'user_valid' %}",
            type:"post",
            data:{
                {# id选择器 #}
                "name2":$("#user2").val(),   {# $("#user").val()  取前端输入的input的值 #}
{#                属性选择器#}
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
            },
            success:function (data) {
                console.log(data);
                console.log(typeof data);
                var data=JSON.parse(data);
                if (!data.state){
                    $(".error2").html(data.msg).css("color","red");  {# 把值传给前端 #}
                }else {
                    $(".error2").html(data.msg).css("color", "red");
                }
            }
        })
})

</script>


</body>
</html>